<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title 超準確！你到底是怎樣的無家者？
		link(rel="stylesheet", href="assets/styles/main.css")
		//- meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="title" content="超準確！你到底是怎樣的無家者？")
		meta(name="description" content="從未想過我有這麼一天")
		meta(name="keywords" content="")
		meta(property="og:title" content="超準確！你到底是怎樣的無家者？")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://event.catchad.com.tw/mosquito/monga/")
		meta(property="og:image" content="http://event.catchad.com.tw/mosquito/monga/assets/images/meta.jpg")
		meta(property="og:description" content="從未想過我有這麼一天")
		meta(property="og:site_name" content="超準確！你到底是怎樣的無家者？")
		//- script(src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-55384.js")
		script.
			var _jf = _jf || [];_jf.push(['p','55384']);_jf.push(['_setFont','notoserifcjktc_medium','css','.notoserifcjktc_medium']);_jf.push(['_setFont','notoserifcjktc_medium','alias','notoserifcjktc']);_jf.push(['_setFont','notoserifcjktc_medium','weight',400]);(function(f,q,c,h,e,i,r,d){var k=f._jf;if(k.constructor===Object){return}var l,t=q.getElementsByTagName("html")[0],a=function(u){for(var v in k){if(k[v][0]==u){if(false===k[v][1].call(k)){break}}}},j=/\S+/g,o=/[\t\r\n\f]/g,b=/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g,g="".trim,s=g&&!g.call("\uFEFF\xA0")?function(u){return u==null?"":g.call(u)}:function(u){return u==null?"":(u+"").replace(b,"")},m=function(y){var w,z,v,u,x=typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):" ";if(z){u=0;while((v=w[u++])){if(z.indexOf(" "+v+" ")<0){z+=v+" "}}t[c]=s(z)}}},p=function(y){var w,z,v,u,x=arguments.length===0||typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):"";if(z){u=0;while((v=w[u++])){while(z.indexOf(" "+v+" ")>=0){z=z.replace(" "+v+" "," ")}}t[c]=y?s(z):""}}},n;k.push(["_eventActived",function(){p(h);m(e)}]);k.push(["_eventInactived",function(){p(h);m(i)}]);k.addScript=n=function(u,A,w,C,E,B){E=E||function(){};B=B||function(){};var x=q.createElement("script"),z=q.getElementsByTagName("script")[0],v,y=false,D=function(){x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;a("_eventInactived");B()};if(C){v=setTimeout(function(){D()},C)}x.type=A||"text/javascript";x.async=w;x.onload=x.onreadystatechange=function(G,F){if(!y&&(!x.readyState||/loaded|complete/.test(x.readyState))){y=true;if(C){clearTimeout(v)}x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;if(!F){setTimeout(function(){E()},200)}}};x.onerror=function(H,G,F){if(C){clearTimeout(v)}D();return true};x.src=u;z.parentNode.insertBefore(x,z)};a("_eventPreload");m(h);n(r,"text/javascript",false,3000)})(this,this.document,"className","jf-loading","jf-active","jf-inactive","//ds.justfont.com/js/stable/v/5.0.3/id/247995786381");
	body.notoserifcjktc_medium
		.logos
			img.logo1(src="assets/images/logo1.png", alt="")
			img.logo2(src="assets/images/logo2.svg", alt="")
		.page-wrapper
			section#landing.active
				.section-wrapper
					img.title(src="assets/images/title.png", alt="")
					.sub-title
						img(src="assets/images/sub-title1.svg", alt="")
						img(src="assets/images/sub-title2.svg", alt="")
					.btn(data-to="#info")
						include ./assets/images/button.svg
						span 開始測驗
			section#info
				.section-wrapper
					.title
						span 「我怎麼可能
						span 成為無家者！？」
					.sub-title
						p 
							span 有人說出來社會走跳，
							span 是三分靠作弊、七分靠後壁。
						p 
							span 但是人生就是這樣，
							span 衰起來的時候連穿新鞋出門都會踩到黃金。
						p 
							span 假如你有天衰到後壁只剩鳳梨、香蕉、芭辣，
							span 你會是艋舺走撞裡哪個無家者呢？
					.btn(data-to="#q1")
						include ./assets/images/button.svg
						span 繼續
					//- img.logo(src="assets/images/title.png", alt="")
			section.quest#q1
				.section-wrapper
					//- img.logo(src="assets/images/title.png", alt="")
					.quest-no Q1
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						img(src="assets/images/q1.svg", alt="")
						p 
							span 早上準備繳停車費時，
							span 你竟然忘記了自己車子停的號碼......
						p.strong
							span 你回頭望去，
							span 車子的停車格號碼是？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 我不知道
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 108
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 87
			section.quest#q2
				.section-wrapper
					.quest-no Q2
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 剛剛老闆找你去他的小房間，
							span 稱讚你工作認真並且表現優秀，
						p 
							span 今年要給你二十萬績效獎金，
							span 下個月一號入帳。
						p.strong 
							span 興奮的你拿到這筆錢以後
							span 打算怎麼處理它呢？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 二十萬全部存定存
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 買手機犒賞自己。
								p 剩下的一時之間還沒想到要幹嘛，之後再說啦！
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 喔耶太爽了！
								p 花了十五萬請全公司吃大餐。
						.ans(data-ans=4)
							.ans-header 
								span D
							.ans-content
								p 解約一筆五十萬定存加上這筆二十萬，全部投資在朋友介紹的尚未上市股票上。
			section.quest#q3
				.section-wrapper
					.quest-no Q3
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 最近工作壓力好大，客戶的要求越來越多
						p 老闆的標準也越來越高，連續加班好幾天了
						p 感覺實在是撐不太下去了
						p.strong 我該如何是好？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 老闆和客戶都這麼機車，
								p 老子不幹啦！
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 不知道怎麼辦，
								p 還是先打場傳說對決好了。
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 先釐清一下客戶和老闆的想法，再看看能夠怎麼去解決現在的問題吧！
			section.quest#q4
				.section-wrapper
					.quest-no Q4
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 深夜跟家人大吵一架後，
							span 你負氣走出家門，
							span 沒有任何目標的在街上遊走。
						p
							span 夜深了，你走到台北車站，
							span 看到有人鋪了紙箱睡袋準備就寢，
						p
							span 你也找了個空位坐了下來，
							span 迷迷糊糊開始打起瞌睡。
						p 
							span 朦朧之中有個小聲音在你耳邊說：
						p
							span 「欸，新手對吧？
							span 第一天在外面過夜喔！
							span 你覺得啊，在街頭上是男生
							span 還是女生比較容易生存下來啊？」
						p
							span 你睜開雙眼看見一個
							span 半透明的小仙子在你眼前飛舞。
						p 
							span 「呵呵呵你醒了欸！
							span 這樣好了，給你菜鳥特別優惠，
							span 今天晚上你可以選擇性別
							span 進行第一次街頭體驗，
						p.strong
							span 請問你想要當男生
							span 還是當女生呢？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								img(src="assets/images/m.svg", alt="")
							.ans-content
								p 我選男生！
						.ans(data-ans=2)
							.ans-header 
								img(src="assets/images/f.svg", alt="")
							.ans-content
								p 當然是女生！
			section.quest#q5
				.section-wrapper
					.quest-no Q5
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 最終還是被老闆炒魷魚了，
							span 也不好意思回去找家人幫忙，
						p 你在去吃飯的路上巧遇國中同學阿茂，
						p 對方問起你現在在做什麼，
						p.strong 要怎麼回應呢？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 「什麼事情都要向你報備就是了」
								p 你頭也不回的離開了阿茂。
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 丟了工作實在不知道該怎麼說起才好，你愣了一下，久久不知道該如何說起。
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 「最近過的不是很好啊，...」
								p 你和阿茂聊起了自己的生活狀況。
			section.quest#q6
				.section-wrapper
					.quest-no Q6
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 能借的錢都借了，能找的幫忙也都找過了，
						p 
							span 處處碰壁，失去了工作、繳不出房租
							span 而即將被房東趕出來的你，
						p 
							span 此時茫然地躺在床上，
							span 世界很大，但你卻不知道有那裡可以去，
						p 
							span 連明天要怎麼活下去都不知道。
						p.strong 
							span 此時的你看向門邊
							span 上次烤肉留下來的木炭...
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 把房間門窗關起，門縫塞住，
								p 點好木炭後躺回床上，閉上眼睛，
								p 等一下就沒有煩惱了。
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 「活著好痛苦，可是死也好可怕 ！」
								p 人生好難，到底要怎麼辦呢？
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 把房間門窗打開，點好木炭後開始烤起秋刀魚，管它的，先吃飽再說吧。
			section.quest#q7
				.section-wrapper
					.quest-no Q7
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 在房間裡燒木炭的事情被鄰居發現，
							span 於是被房東趕出來了。
						p 你不知道要去哪裡，「乾脆去流浪好了！」
						p 
							span 你正好走到岔路口，
							span 左轉是沒有人的河濱橋下，右轉是熱鬧的市區。
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 左轉去河濱橋下涵洞躲起來，
								p 離群索居，過著吃野菜、補河魚，
								p 燒柴火的游牧生活。
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 晚上睡在無人的河濱橋下，
								p 白天到市區找食物與工作，
								p 過著通勤的生活。
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 右轉到熱鬧的市區，
								p 說不定人多的地方就有活下去的機會。
			section.quest#q8
				.section-wrapper
					.quest-no Q8
					.line
						img(src="assets/images/line.svg", alt="")
					.quest-content
						p 
							span 在河濱橋下抓魚抓不到，
							span 到了市區找工作卻也無從找起，
						p.strong 到底要怎麼辦呢？？
					.line
						img(src="assets/images/line.svg", alt="")
					.row
						.ans(data-ans=1)
							.ans-header 
								span A
							.ans-content
								p 想要去問別人，
								p 但是大家看起來都好兇喔，
								p 還是再等等看好了。
						.ans(data-ans=2)
							.ans-header 
								span B
							.ans-content
								p 聽說公園有人在發便當，
								p 餓了好久，還是先去拿個便當吧。
						.ans(data-ans=3)
							.ans-header 
								span C
							.ans-content
								p 先去教會問看看，
								p 說不定可以找到能幫到我的人。
			section#calculating
				.section-wrapper
					.calculating-text
						include ./assets/images/button.svg
						span 角色分析中......
			section#result
				.section-wrapper
					.left
						.restart
							p 
								span 怎麼會這樣？
								span 我不相信！
							.btn(data-to="#landing") 
								include ./assets/images/button.svg
								span 再測一次
						.ad
							p 
								span 無家者的我，
								span 會過著怎樣的生活呢？
							a.btn(href="") 
								include ./assets/images/button.svg
								span 認識「艋舺走撞」
					.result-img
						img(src="assets/images/results/result1.png", alt="")
					.right
						.share
							p 分享你的無家者角色
							a.btn(href="https://www.facebook.com/sharer/sharer.php?u=http://event.catchad.com.tw/mosquito/monga/result1.html", target="_blank")
								include ./assets/images/button.svg
								include ./assets/images/fb.svg
								//- img(src="assets/images/fb.svg", alt="")

		.texture





	script(src="//code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
	script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
	//- script(src="https://hammerjs.github.io/dist/hammer.js")
	script(src="assets/scripts/main.js")
	